*{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.app {
    background: #d9d9d9;
    margin-left: 10%; 
    margin-right: 10%; 
    padding: 10px 10px 10px 10px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
.app__createTd {
    width: 300px;
    height: 100%;
    background: #736262;
    padding: 10px 10px 10px 10px;
}
.app__todoFilter{
    padding: 30px 0px 10px 4px;
}

.create-td__button{
    border-radius: 4px;
    box-shadow: 0 0 7px #666;
    background-color: #bbb;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
}     
.create-td__button:hover {
    background-color: #ccc
}

input {
    padding: 6px;
    border: none;
}
table {
    width: 100%;
    border-spacing: 3px;
    table-layout: fixed;
    word-wrap: break-word;
}
th {
    background-color: #736262;
    padding: 10px 10px 10px 10px;
}
tr:nth-child(even) { 
    background-color: #bbb; 
}
tr:nth-child(odd) { 
    background-color: #EFEFEF; 
}
td {
    padding: 10px 10px 10px 10px;
}
.list-item__button, .list-item__delete, .task  {  
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    color: #555;
}
.list-item__button {
    text-decoration: underline;
}
.list-item__button:hover, .list-item__delete:hover {
    background-color: #B5AEAE;
}

